!.gitignore
Atom/
Code/
QtProject.conf
QtProject/
Trolltech.conf
VirtualBox/
chromium/
composer/
dconf/
enchant/
fish/fish_variables
fish/fishd.*
gh/hosts.yml
git/gitk
htop/
menus/
mimeapps.list
pavucontrol.ini
pulse/
