!.gitignore
Atom/
Code/
QtProject.conf
QtProject/
Trolltech.conf
VirtualBox/
chromium/
composer/
dconf/
direnv/
enchant/
fish/fish_variables
fish/fishd.*
git/gitk
hub
menus/
mimeapps.list
pavucontrol.ini
pulse/
