[Unit]
Description=CMake CI Build
RefuseManualStart=no
RefuseManualStop=no

[Service]
Environment=WINEARCH=win32
Environment=WINEPREFIX=%h/.local/share/wine
ExecStart=/home/daniel/.local/bin/ctest -V -S "${XDG_CONFIG_HOME}/cmake/ci.cmake"
SuccessExitStatus=0 255
Type=oneshot
