[Unit]
Description=mspdbsrv
Requires=wineserver.service

[Service]
Environment=WINEARCH=win32
Environment=WINEDEBUG=-all
Environment=WINEPREFIX=%h/.local/share/wine
ExecStart=/usr/bin/wine mspdbsrv.exe -start -shutdowntime -1

[Install]
WantedBy=default.target
