[Unit]
Description=wineserver

[Service]
Environment=WINEARCH=win32
Environment=WINEPREFIX=%h/.local/share/wine
ExecStart=/usr/bin/wineserver --foreground --persistent
ExecStop=/usr/bin/wineserver --kill

[Install]
WantedBy=default.target
