[Unit]
Description=Check Mail every fifteen minutes

[Timer]
Persistent=false
OnBootSec=5min
OnUnitActiveSec=15min
Unit=checkmail.service

[Install]
WantedBy=timers.target
