/* ttf-liberation */
@font-face { font-family: 'Helvetica'; src: local('Nimbus Sans L') }
@font-face { font-family: 'Times'; src: local('Nimbus Roman No9 L') }
@font-face { font-family: 'Courier'; src: local('Nimbus Mono L'); }
